.home{
    font-size: 20px;
    .list{
        li{
            list-style: none;
            color:red;
        }
    }
    #pagination{
        ul{
            li{
                display: inline-block;
                padding:5px 10px;
                cursor: pointer;
                border:1px solid #ddd;
                border-radius: 5px;
                margin-right:5px;
                font-size:16px;
            }
            .active{
                color:#fff;
                background: blue;
            }
            .disabled{
                background: #ddd;
                color:#aaa;
            }
            .jump{
                input{
                    width:30px;
                    margin-left:8px;
                    margin-right:8px;
                    border-radius: 5px;
                    border:1px solid #ddd;
                }
            }
        }
    }
}